<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Summer Camp</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
<h1> Record was successfully added </h1>

    <h1>View Data</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>DOB</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.Name }}</td>
                <td>{{ student.Age }}</td>
                <td>{{ student.DOB }}</td>
                <td>{{ student.Gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 <a href="/"><button type="submit"> Add new Student Details </button></a>

</body>
</html>
